<div class="container" >
<ul class="pager">
  <li class="next">
        <%= link_to "New Post", new_post_path %>
  </li>
</ul>
<h1>Minipress</h1>
<hr>
<% @posts.each do |post| %>
<p>
  <h3><%= link_to post.headline, post_path(post) %></h3>
</p>
<p>
  <%= post.summary %>
</p>
<hr>
<% end %>
</div>